<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.LitemallPointsLogMapper">
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.LitemallPointsLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="balance_after" jdbcType="INTEGER" property="balanceAfter" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, points, type, order_id, order_sn, description, balance_after, add_time
  </sql>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from litemall_points_log
    where user_id = #{userId,jdbcType=INTEGER}
    order by add_time desc
  </select>

  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from litemall_points_log
    where order_id = #{orderId,jdbcType=INTEGER}
    limit 1
  </select>

  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.LitemallPointsLog">
    insert into litemall_points_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="balanceAfter != null">
        balance_after,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="balanceAfter != null">
        #{balanceAfter,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>
